// https://coolors.co/f7f4ea-71a9f7-134074-e5e059

// Custom Variables
$logo-font: 'Nunito', sans-serif;
$product-font: 'Expletus Sans', cursive;

// Bootstrap Variable Overrides
$enable-shadows: true;
$jumbotron-bg: none;
$navbar-brand-font-size: 2rem;
$navbar-padding-y: 1rem;
$primary: #134074;
$yellow: #E5E059;
// Bootstrap Import
@import "../lib/bootstrap/scss/bootstrap";

sup {
  font-size: 0.5rem;
  vertical-align: super;
  margin: 0.25rem;
}

.budget {
  font-family: $logo-font;
  color: #71a9f7;
}

.logo-first-class {
  filter: hue-rotate(180deg);
}

.logo-economy-class {
  filter: grayscale(100%);
}

.pinch-color {
  color: #E5E059;
}

.pinch-font {
  font-family: $product-font;
}

.starlines {
  font-family: $product-font;
}

#canvas-background {
  display: block;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
}
